<div class="details-container">
  <div class="image-area">
    <img src={{data.image | async}}>
  </div>
  <div class="info-area">
    <p class="name">Nome do Produto: <strong>{{ data.name | async}}</strong></p>
    <p class="description">Descrição Detalhada: <strong>{{ data.description | async}}</strong></p>
    <p class="value">Valor: R$<strong>{{ data.price | async}}</strong></p>
    <div class="rate">
      <p>Avaliação: <strong>{{ data.rating | async}}</strong></p>
    </div>
  </div>
</div>
