<div class="details-container">
  <div class="image-area">
    <img src={{data.image}}>
  </div>
  <div class="info-area">
    <p class="name">Nome do Produto: <strong>{{ data.name}}</strong></p>
    <p class="description">Descrição Detalhada: <strong>{{ data.description}}</strong></p>
    <p class="value">Valor: R$<strong>{{ data.price}}</strong></p>
    <div class="rate">
      <p>Avaliação: <strong>{{ data.rating}}</strong></p>
    </div>
    <div *ngIf="data.isAvailable ; else Unavailable">
      <p>Disponivel para Compra</p>
    </div>
    <ng-template #Unavailable>
      <p class="unavailable">Produto não disponivel</p>
    </ng-template>
  </div>
</div>
